.container.giantbox  
  %body
    %header#content-header
      %h1 Add a New User
    = render 'users/form'

:scss
  .giantbox {
    width: 100%;
    padding: 12px 20px;
    border: 2px solid #ccc;
    text-align: left;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    
  }
